@page "/"

<h1>Send picture to Server!</h1>

<p>This application demonstrates how to take a picture with the mobile phone camera and send the picture to a server through a dedicated API service</p>
<p>To activate the camera <a href="camera">click here</a></p>