@page "/PreferencesExamle"

<h1>Counter</h1>
<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<br />
<br />
<button @onclick="WriteToStorage">Write to Storage</button>
<button @onclick="ReadFromStorage">Read from Storage</button>
<br />
<br />


@code {
    private int currentCount = 0;

    private void WriteToStorage()
    {
        Preferences.Set("Last_Used", currentCount.ToString());
    }

    private void ReadFromStorage()
    {
        currentCount = int.Parse(Preferences.Get("Last_Used", "0"));
    }
    private void IncrementCount()
    {
        currentCount++;
    }
}
